*{
  font-family: Arial, Helvetica, sans-serif;
}

.nav, .news, .schedule, .rside div, .footer{
    overflow: hidden;
    background-color: #f2f7ff;
    border: 1px solid #4287ff;
    border-radius: 25px;
}

h1{text-align: center;
    color: black;
    font-size: 50px;
    text-decoration: underline
}
h2{
    text-align: right;
    color: brown;
    font-size: 30;
}
dropbtn {
    background-color: #007777;
    color: white;
    padding:inherit;
    font-size: 50;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.exam-type {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.exam-type a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.exam-type a:hover {background-color: #f1f1f1}

.dropdown:hover .exam-type {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

 .exam,.title{
	overflow: hidden;
	background-color: #f2f7ff;
	border: 1px solid #4287ff;
	border-radius: 25px;
}


.title{
	grid-area: 1 / 2 / 2 / 6;
}

.title ul{
	width: 50%;
	margin:auto;
	margin-top:2%;
	border-radius: 25px;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #4287ff;
}

.title li{
	float: left;
	width: 25%;
}

.title li a{
	display: block;
	color: white;
	text-align: center;
	padding: 1em;
	text-decoration: none;
}

.title li a:hover{
	background-color: #fff;
	border-radius: 25px;
	color: black;
}

.logo{
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;
}

.logo img{
    width: 18em;
}

.nav{
    grid-area: 1 / 2 / 2 / 6;
}

.nav ul{
    width: 70%;
    margin:auto;
    margin-top:2%;
    border-radius: 25px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #4287ff;
}

.nav li{
    float: left;
    width: 16.667%;
}

.nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

.nav li a:hover{
    background-color: #fff;
    border-radius: 25px;
    color: black;
}

.header{
    display: grid;
    grid-area: 1 / 1 / 2 / 6;
}